*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------- */
/* css logo navbar */
/* --------------- */

.imglogo{
    width: 10rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbarlist{
    list-style: none ;
    display: flex;
    margin: 1rem;
}

.navegador{
    margin-left: 1rem;
    border: 1px solid rgb(234, 7, 7);
    padding: 0.5rem;
}

.vinculo{
    text-decoration: none;
    color: rgb(205, 26, 26);
}

/* ------------ */
/* css carrusel */
/* ------------ */

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

#contentItemsCarrusel{
    height: 200px;
    overflow: hidden;
}

.itemCarrusel{
    height: 100%;
    position: relative;
}

.tarjetaCarrusel{
    height: 100%;
}

.flechasCarrusel{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#tarjetaCarrusel-1{
    font-size: 6rem;
    text-align: center;
    color: crimson;
}

#tarjetaCarrusel-2{
    font-size: 6rem;
    text-align: center;
    color: crimson;
    
}

#tarjetaCarrusel-3{
    font-size: 6rem;
    text-align: center;
    color: crimson;
}

#tarjetaCarrusel-4{
    font-size: 6rem;
    text-align: center;
    color: crimson;
}

#tarjetaCarrusel-5{
    font-size: 6rem;
    text-align: center;
    color: crimson;
}

.arrow{
    font-size: 3rem !important;
    color: crimson;
}

a{
    text-decoration: none;
}

/* ----------------- */
/* main de la pagina */
/* ----------------- */

main{
    height: 35vw;
}

/* ----------------------------- */
/* css checkboy y barra busqueda */
/* ----------------------------- */

.conteiner{
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: crimson;
}

.check{
    margin-left: 20px;
}

input{
    border:1px solid crimson;
    color: crimson;
    text-align: center;
}



.conteinerbusqueda{
    display: flex;
    align-items: center;
}

.fa{
    border: 1px solid;
    padding: 1px;
    align-items: center;
    color: crimson;
}

/* -------- */
/* tarjetas */
/* -------- */

.tarjetas{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2.5rem;
}

.contenedortarjeta{
    border: 2px solid crimson;
    width: 15rem;
    height: 18rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px rgba(220, 20, 60, 0.366);
    background-color: aliceblue;
}
.imgtarjeta{
    width: 12rem;
    height: 7rem;
    margin-left: 1rem;
    margin-top: 0.8rem;
}

.titulotarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-details{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.details{
    border: 1px solid crimson;
    padding: 5px;
}

/* ---------- */
/* css footer */
/* ---------- */

.footercontenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.362);
    height: 5rem;
}

.footerlist{
    display: flex;
    list-style: none;
    gap: 1rem;
}

.footerpng{
    width: 2rem;
}

