* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* configuracion para todas las paginas tamaños header main y footer */

header{
    flex: 0 0 10%;
}
main{
    flex: 1;
}
footer{
    flex: 0 0 10%;
}


/* --------------- */
/* css logo navbar */
/* --------------- */
.logo img {
    width: 10rem;
}

nav {
    color: crimson;
    width: 100%;
    height: 4rem;
    border: 1px solid crimson;
    background-color: rgb(32, 31, 31);
}


nav a {
    color: crimson;
    text-decoration: none;
    display: block;
    margin: 10px;
}

/* nav a:hover {
    color: black;
    background-color: #00c3ff;
} */

nav .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .navbar .vinculos {
    display: flex;
}

/* ------------------- */
/* Iconos google fonts */
/* ------------------- */

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* ------------ */
/* css carrusel */
/* ------------ */

.carrusel{
    margin: 0.5rem;
}

#contentItemsCarrusel {
    height: 200px;
    overflow: hidden;
}

.itemCarrusel {
    height: 100%;
    position: relative;
}

.tarjetaCarrusel {
    height: 100%;
}

.flechasCarrusel {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#tarjetaCarrusel-1 {
    font-size: 6rem;
    text-align: center;
    color: crimson;
}

#tarjetaCarrusel-2 {
    font-size: 6rem;
    text-align: center;
    color: crimson;

}

#tarjetaCarrusel-3 {
    font-size: 6rem;
    text-align: center;
    color: crimson;
}

#tarjetaCarrusel-4 {
    font-size: 6rem;
    text-align: center;
    color: crimson;
}

#tarjetaCarrusel-5 {
    font-size: 6rem;
    text-align: center;
    color: crimson;
}

.arrow {
    font-size: 3rem !important;
    color: crimson;
}

a {
    text-decoration: none;
}

.banner {
    height: 50vw;
}


/* ----------------- */
/* main de las paginas */
/* ----------------- */


/* ----------------------------- */
/* css checkbox y barra busqueda */
/* ----------------------------- */

.conteiner {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: crimson;
    margin-top: 20px;
}

.check {
    margin-left: 20px;
}

input {
    border: 1px solid crimson;
    color: crimson;
    text-align: center;
}


.conteinerbusqueda {
    display: flex;
    align-items: center;
}

.fa {
    border: 1px solid;
    padding: 1px;
    align-items: center;
    color: crimson;
}

/* -------- */
/* tarjetas */
/* -------- */


.tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(19%, max-content));
    gap: 15px;
    align-items: center;
    justify-content: center;
    min-height: 35vh;
    color: crimson;
}

/* estilo para las tarjetas de past y up solamente */
.past-up{
    grid-template-columns: repeat(auto-fit , minmax(20%, max-content));
    align-items: center;
    justify-content: center;
    min-height: 35vh;
    color: crimson;
}

.contenedortarjeta {
    border: 2px solid crimson;
    border-radius: 10px;
    width: 15rem;
    height: 25rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    
    box-shadow: 10px 10px rgba(94, 59, 66, 0.366);
    background-color: aliceblue;
}

.imgtarjeta {
    width: 12rem;
    height: 7rem;
    margin-left: 1.5rem;
    margin-top: 0.8rem;
    border-radius: 10px;
}

.titulotarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15rem;
}

.titulotarjeta h3{
    text-align: center;
    font-size: 2rem;
}

.titulotarjeta p{
    font-size: 1rem ;
    margin: 1rem;
    height: 6rem;
} 

.price-details {
    display: flex;
    justify-content: space-around;
    align-content: center;
    
} 

.details {
    border: 1px solid crimson;
    padding: 5px;
    border-radius: 10px;
}

/* ---------- */
/* css footer */
/* ---------- */

.footercontenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 31, 31);
    height: 5rem;
}

.footerlist {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.footerpng {
    width: 2rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.349);
}

.footertext {
    margin-right: 1rem;
    color: crimson;
}

/* -------------- */
/* Pagina CONTACT */
/* -------------- */


.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    flex-direction: column;
    margin: 5rem;
}

#name{
    padding-right: 5rem;
}

#email{
    padding-right: 5rem;
}

#mensaje{
    padding: 2.5rem;
}

.submit{
    display: flex;
    justify-content: right;
    margin-top: 1rem;
}

#boton{
    padding: 0 5px;
}

/* ------------------ */
/* estilos para tabla */
/* ------------------ */

.tabla{
    display: flex;
    align-items: center;
    justify-content: center;
}

th{
    padding: 5px;
    background-color: darkgray;
}

.tabla tr{
    border: 1px solid black;
}

.tabla td{
    border: 1px solid black;
    padding: 5px;
}


/* --------------- */
/* estilos pagina details */
/* --------------- */

.cuerpo-details{
    height: 30.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-details{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.tarjetadetails{
    border: solid crimson  1px ;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-shadow: 10px 10px rgba(94, 59, 66, 0.366);
    border-radius: 10px;
}

.detailsimg{
    border: 1px solid crimson;
    height: 45vh;
    width: 50%;
    margin-left: 1rem;
    box-shadow: 10px 10px rgba(94, 59, 66, 0.366);
    border-radius: 10px;
}

.imagen-details{
    height: 45vh;
    width: 100%;
    border-radius: 10px;
}

.info-details{
    display: flex;
    box-shadow: 10px 10px rgba(94, 59, 66, 0.366);
    justify-content: center;
    flex-direction: column;  
    border: 1px solid crimson;
    width: 25vw;
    height: 45vh;
    border-radius: 10px;
}


.titulo-tarjetadetails{
    display: flex;
    justify-content: center;
}

.parrafo-details{
    margin-left: 2vh;
}


/* --------------------------------------- */
/* Responsive index, upcoming, past events */
/* --------------------------------------- */

@media screen and (max-width: 768px){
    nav{
        height: 5%;
    }
    header{
        height: 10%;
    }
    main{
        height: 80%;
    }
    footer{
        height: 5%;
    }

    .conteiner {
        display: block;
        text-align: center;
    }
    .checkbox,
    .conteinerbusqueda {
        display: block;
        margin: 10px auto;
    }
   
    .tarjetas{
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(25%, max-content));
        gap: 5px; 
    }

    th{
        padding: 2px;
        font-size: 10px;
    }
    .tabla td{
        padding: 2px;
        font-size: 8px;
    }

    table{
        margin: 1.52rem 1rem 1rem 1rem;
    }

    /* estilos pagina details */
    .cuerpo-details{
        height: 74.4vh;
    }

    .main-details{
        width: 90%;
    }

    .tarjetadetails{
        justify-content: space-around;
    }

    .detailsimg{
        width:36vw;
    }

   .imagen-details{
    width:36vw ;
   }

   .info-details{
    width: fit-content;
    margin-right: 10px;
    height: fit-content;
   }

}

@media screen and (max-width: 320px){
    nav{
        height: 5%;
    }
    header{
        height: 10%;
    }
    main{
        height: 80%;
    }
    footer{
        height: 5%;
    }



    .logo img {
        width: 10rem;
    }

    .navbar {
        flex-direction: column;
    }

    .vinculos a {
        font-size: 12px;
    }

    #contentItemsCarrusel {
        height: 100px;
    }

    .conteiner {
        display: block;
        text-align: center;
    }

    .checkbox,
    .conteinerbusqueda {
        display: block;
        margin: 10px auto;
    }

    .tarjetas{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* estilos para pagina stats */
    .tarjetas {
        display: flex;
        flex-direction: column;
    }

    /* estilos para pagina details */

    .cuerpo-details{
        height: 69vh;
    }
    
    
    .tarjetadetails{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20rem;
    }

    .detailsimg{
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        width: 80%;
        height: 20vh;
        margin-right: 20px;
        box-shadow: 3px 3px rgb(150, 145, 145);
    }
    .imagen-details{
        width: 100%;
        height: 20vh;
    }

    .info-details{
        width: 80%;
        height: auto;
        box-shadow: none;
        box-shadow: 3px 3px rgb(150, 145, 145);
    }

    .titulo-tarjetadetails{
        font-size: 1.3rem;
    }
    .parrafo-details{
        font-size: 0.6rem;
    }
}
